/*****************************************************************************
**
**    Title:      style.css
**    Project:        
**    Author:     Joe Cohen
**    Contact:    <deskofjoe@gmail.com>
**    GitHub:     https://github.com/cojohen
**
**    Copyright 2021 Joe Cohen -- Permission is hereby granted, free of
**    charge, to any person obtaining a copy of this software and 
**    associated documentation files (the "Software"), to deal in the 
**    Software without restriction, including without limitation the 
**    rights to use, copy, modify, merge, publish, distribute, sublicense,
**    and/or sell copies of the Software, and to permit persons to whom 
**    the Software is furnished to do so, subject to the following 
**    conditions:
**
**    The above copyright notice and this permission notice shall be included 
**    in all copies or substantial portions of the Software.
** 
*****************************************************************************/

body {
    background: #003049;
    color: #EAE2B7;
    font-family: sans-serif;
}

#main {
    position: relative;
    margin: 0 auto;
    width: 50%;
}

#title {
    text-align: center;
    margin: .5em auto 0;
    color: #fcbf49;
    font-size: 50pt;
    text-shadow: 0px 0px 5px #000;
}

#description{
    text-align: center;
    padding: 0 4em;
    font-style: italic;
}

form {
    //background: #001b29;
    padding: 2em;
    border-radius: 25px;
    margin: 2em auto;
    background-image: linear-gradient(to bottom right, #001b29, #00293d);
    box-shadow: 0px 0px 20px #006da3;
}

input[type=text], input[type=number], input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    box-shadow: 0px 0px 5px white;
    transition: box-shadow .4s;
}

input[type=text]:hover, input[type=number]:hover, input[type=email]:hover, select:hover, textarea:hover {
    box-shadow: 0px 0px 12px #006da3;
}

textarea {
    position: relative;
    margin: 1.5em auto;
}

input[type=submit]{
    display: block;
    position: relative;
    margin: 1.5em auto;
    background-image: linear-gradient(to bottom right, #006DA3, #004466);
    border-radius: 12px;
    height: 3em;
    width: 12em;
    border: solid 2px #fcbf49;
    font-size: 12pt;
    color: white;
    box-shadow: 0px 0px 5px white;
    transition: box-shadow .4s;
    text-shadow: 0px 0px 5px #000;
}

input[type=submit]:hover{
    box-shadow: 0px 0px 12px #006da3;
}

#name-label, #email-label, #number-label, #drop-label, form p {
    display: block;
    margin: 1.5em 0 .5em 0;
    font-size: 14pt;
    color: #fcbf49;
    text-shadow: 0px 0px 5px #000;
}

label {
    display: block;
    margin: .2em;
}